body {
  background-color: initial;
}

#JanaV {
  background-color: initial;
  font-family: initial;
  color: initial;
}

#OlgaS {
  background-color: initial;
  font-family: initial;
  color: initial;
}

#LuciaL {
  background-color: initial;
  font-family: initial;
  color: initial;
}

#KamilaB {
  background-color: initial;
  font-family: initial;
  color: initial;
}

#MagdalenaR {
  background-color: initial;
  font-family: initial;
  color: initial;
}
